#ahu_container{
	padding: 0;
}

#ahu_index{
	width: 100%;
	height: 100vh;
}

#index_content{
	width: 100%;
	height: 50%;
	padding-top:12%;
	display: block;
}

input{
	outline: none;
	border: 1px solid #cccccc !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

#logo{
	padding-bottom: 35px;
	text-align: center;
}


#search_filters{
	display: none;
	margin: 0 -15px;
	margin-top: -25px;
	background-color: red;
	height: 100px;
	width: calc(100% + 30px);
}

#header_logo{
	padding: 0;
}

#header_logo img{
	height: 70px; 
	margin: auto;
	display: block;
}

#results_search_form{
	padding: 0;
	padding-top: 15px;
}

#results_header,#results_footer{
	min-height: 100px;
	height: auto;
	width: 100%;
	background-color: #F0F0F0;
	padding: 10px;
	position: relative;
	z-index: 100;
}

#results_header{
	border-bottom: solid 2px #E6E6E6;
}

#ahu_results .row{
	margin: 0;
}

#results_content{
	padding: 10px 15px;
	padding-left: 100px; 
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	min-height: 300px;
}

#page_loader{
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.75);
	display: none;
	position: absolute;
	z-index: 5;
	padding:0;
	margin: 0;
	left : 0;
}

#loader{
	position: fixed;
	background-color: white;
	margin: 0 auto;
	border-radius: 5px;
	border: solid 3px #8F0019; 
	width: 30%;
	height: auto;
	margin-top: 10%;
	left:44%;
	text-align: center;
	padding: 15px;
	color: #8F0019;
	font-size: 24px;
	font-weight: bold;
}

#loader.mobile{
	position: absolute;
	margin-top: 2%;
	left:33%;
}

#page_loader img{
	vertical-align: middle;
}

#advanecd_menu_container{
	position: relative;
	margin-left: -2px; 
	padding:0;
	padding-right: 2px; 
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}


#filter_div_collapsed,#sort_div_collapsed{
	width: 50%;
	float: left;
}

#show_filter_div,#show_sort_div{
	width: 90%;
	margin-left: 4%;
	height: 100px;
	display: none;
}

.sort_button,.filter_button{
	color: #286F00;
	position: fixed;
	top: 150px;
	left: calc(21% - 5px);
	border: 2px solid #8DB378;
	border-left: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	z-index: 20;
}

.sort_button:focus,.filter_button:focus{
	background-color: #fff;
	color: #286F00;
	outline: none;
	border: 2px solid #8DB378;
	border-left: 0;
}

.sort_button{
	top: 182px;
	margin-top: 2px;
}

.bg_sidebar_button{
	z-index: 10;
	background: #C6DABC;
}

.sort_button.bg_sidebar_button:hover,.filter_button.bg_sidebar_button:hover{
	background: #E5EEE0;
	border: 2px solid #8DB378;
	border-left: 0;
}

.sidebar{
	padding: 10px 20px;
	padding-top: 110px;
	top:0;
	border-right: 2px solid #8DB378;
	background-color: #ffffff;
	width: 21%;
	height: 100%;
	position: fixed;
	z-index: 19;
}

.alternative_sidebar{
	position: static;
	padding: 15px; 

}

#filter_results,#sort_results{
	margin-top: 30px;
	padding: 6px 36px;
}

#results_footer{
	border-top: solid 2px #E6E6E6;
}

.error-container{
	width: 33%;
	margin: 25px auto;
}

.document{
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	background-color: #fff;
}

.document:hover{
	background-color: rgba(223,178,183,0.1);
}

.doc_title,.doc_title h3{
	display: inline-block;
}

.doc_title h3{
	margin: 0;
	font-weight: normal;
}

.doc_title a{
	color: #286F00;
	text-decoration: none;
}

.doc_title a:hover{
	color: #8DB378;
}

.download_icon{
	font-size: 20px;
	padding-right: 5px;
}


.doc_desc{
	display: block;
	padding: 5px 30px;
}

.tag_icon,.user_icon{
	/*color: #8DB378;*/
	color: #aaaaaa;
	padding-right: 5px;
}

.doc_author,.doc_cat{
	display: block;
	color: #aaaaaa;
}

.documents_count{
	color: #aaaaaa;
	font-size: 16px;
	margin-left: 10px;
}

#pagination {
  list-style: none;
  margin-top: 30px;
  text-align: center;
  padding: 30px 0;
  opacity: 0.6;
  width: 35%;
  margin: 0 auto;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s; 
}

#pagination:hover {
  opacity: 0.5; 
}

#pagination li {
  float: left;
  margin-right: 6px; 
}

#pagination .page {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid transparent;
  color: #286F00;
  width: 27px;
  height: 27px;
  text-decoration: none;
  border-radius: 40px;
  font-size: 19px;
  -moz-transition: background 0.2s, border 0.2s;
  -webkit-transition: background 0.2s, border 0.2s;
  -ms-transition: background 0.2s, border 0.2s;
  transition: background 0.2s, border 0.2s; 
}

#pagination .page:hover, #pagination .page.active {
  background: #8DB378;
  border: 1px solid #286F00; 
}